<div class="card">

  <div class="header">
      <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">

      <form #f="ngForm">
          <div class="form-group">
              <label>From:</label>
              <input [(ngModel)]="from" name="from" class="form-control" required minlength="3" city>
          </div>
          <div *ngIf="f?.controls['from']?.invalid" class="alert alert-danger">
            An error occurred!
          </div>
          <div *ngIf="f?.controls['from']?.hasError('minlength')" class="alert alert-danger">
            Please enter at least 3 chars.
          </div>
          <div *ngIf="f?.controls['from']?.hasError('city')" class="alert alert-danger">
            Please enter a valid city name.<br>
            Valid cities: {{ f?.controls['from']?.errors.city.validCities | json }}
          </div>

          <div class="form-group">
              <label>To:</label>
              <input [(ngModel)]="to" name="to" class="form-control" required>
          </div>
          <div *ngIf="f?.controls['to']?.invalid" class="alert alert-danger">
            An error occurred!
          </div>

          <div class="form-group">
          <button
              class="btn btn-default"
              [disabled]="!f?.valid"
              (click)="search()">Search</button>
          </div>
      </form>

  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]">
        <span class="child-title">Hello Child! :)</span>
        <span class="child-content">This is a very useful info!</span>
    </app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
      <pre>{{ basket | json }}</pre>
  </div>
</div>
