<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <app-sidebar-cmp></app-sidebar-cmp>
  </div>

  <div class="main-panel">
      <app-navbar-cmp></app-navbar-cmp>

      <div class="content">

        <!-- <div class="card">
          <div class="header">
            <h1 class="title">{{ title }}</h1>
          </div>
          <div class="content">
            <button (click)="changeTitle()" class="btn btn-default">change title</button>
          </div>
        </div> -->

        <app-flight-search></app-flight-search>

      </div>
  </div>

</div>
